body {
    font-family: Arial, stylus;
    text-align: center;
    background-color: white;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: light blue;
    color: white;
    border: black;
    border-radius: 5px;
}

