body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
}

button {
    padding: 10px 20px;
    background-color:light blue;
    color: white;
    border: black;
    cursor: pointer;
}
