body {
    font-family: Arial, stylus;
    text-align: center;
    background-color: white;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: light blue;
    color: white;
    border: black;
    border-radius: 5px;
}

body {
  font-family: Arial, stylus;
  background-color: light blue;
  margin: 0;
  padding: 0;
}

header {
  background-color: light blue;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

h2 {
  color: black;
  margin-top: 1rem;
}

form {
  display: grid;
  gap: 1rem;
}

input, textarea, select {
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

label {
  font-weight: bold;
  color: light blue;
}

button {
  background-color: light blue;
  color: black;
  border: white;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: black;
}

.upload-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.upload-container input[type="file"] {
  display: none;
}

.icon-label {
  cursor: pointer;
  font-size: 1.5rem;
  color: red;
}

.feature-section {
  background-color: light blue ;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
}

.feature-section h3 {
  margin-top: 0;
  color: black;
}

.map-placeholder {
  background-color: light blue;
  height: 200px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
}
